<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Vapor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-fit viewport with zoom setup-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/media_queries.css" rel="stylesheet" media="(max-width: 400px)">
</head>
<body>

<header>
    <h1>Vapor</h1>
</header>

<div ID="navbar">
    <ul>
        <li><a href="redirect.php?page_type=home">Home</a></li>
        <li><a href="redirect.php?page_type=profile_search">Profile Search</a></li>
        <li><a href="redirect.php?page_type=register">Register</a></li>
        <li><a href="redirect.php?page_type=login">Login</a></li>
        <li><a href="templates/nav/about.html">About</a></li>
    </ul>
</div>


