<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
</head>
<body>

<div id="myDIV" class="mainTitle">
    <mainTitle> <br>
        Welcome to our Website!</mainTitle>
    <br><br>
    <hr>
</div>

<img src = "images/notebook.png" align="middle" style= "width: 500px; height:500px;">
<homee>

    <br><br>
    This is our website. Although it was made by a team of only two men, we can assure you that it is
    working 100% and it has all sorts of cool features.Hope you enjoy your stay.
    <br>
    Please do be advised
    to create a new profile and search for whoever you like.
    <br>
    <homee/>

    <script src="main_page_js.js"></script>
</body>
</html>