:root {
    /* Default colors, if nothing is defined */
    --color-default-main: white; 
    --color-default-text: black;
    
    /* Foreground colors, such as the header */
    --color-fg-main:      #ff6699; 
    --color-fg-text:      black; 
    
     /* Background colors, such as the body and objects */
    --color-bg-main:      #d3d3d3;
    --color-bg-text:      black;
    
    --alt-color-bg-main:  white;
    --alt-color-bg-text:  black; 
}
