/* Generic Header */
@import "color-ref.css";

#header_box {
    background-color: var(--color-fg-main);
}

/* Background Style */
body {
    background-color: var(--color-bg-main);

}

/* Vapor Title */
.vaporTitle {
    font-size: 300%;
    font-family: "Times New Roman";
    text-align: center;
    color:white;
}

/* Search Bar */

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
