/* PALETTE TABLE
GRAIN: #D7CEC7
BLACKBOARD: #565656
OXBLOOD: #76323F
TAN: #C09F80
TEXT COLOR: #302f2f
*/

/* LAYOUT SECTION */

body {
    background-color: #D7CEC7;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.7) 50%);
    background-size: 50px 50px;
    font-family: Verdana, Georgia, serif;
    font-size: 14px;
    width: 70em;
    margin: 0 auto;
    display: grid;
}

header {
    display: flex;
    background-color: #565656;
    margin: 10px;
    height: 90px;
    border-radius: 5px;
    color: #D7CEC7;
}

/* NAVBAR */
#navbar ul   {
    display: flex;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    background-color: #C09F80;
    border-radius: 5px;
}

#navbar ul  li  {
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

#navbar ul li a {
    text-decoration: none;
    font-family:Arial;
    text-align: center;
    padding: .2em 1em;
    color: #565656;
    background-color: #C09F80;
    font-weight: bold;
}

#navbar ul li a:hover, #signup ul li a:hover {
    color:#D7CEC7;
    background-color: #565656;
    border-radius: 5px;
    font-weight: bold;
}

.main {
    display: block;
    background-color: #C09F80;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
    color: #302f2f;
}

/* FOOTER */

footer {
    display: flex;
    background-color: #565656;
    margin: 10px;
    clear:both;
    border-radius: 5px;
    color: #efe5d0;
    padding: 10px;
    font-size: 90%;
}

footer ul   {
    padding: 5px;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

footer ul  li  {
    display: inline;
}

footer ul li a {
    text-decoration: none;
    font-family:Arial;
    padding: .2em 1em;
    color: #efe5d0;
    background-color: #565656;
    font-weight: bold;
}

.about {
    display: block;
    text-align: center;
    background-color: #C09F80;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 160%;
    color: #302f2f;
    vertical-align: middle;
}

/* LOGIN */

.login {
    color: #D7CEC7;
    display: table;
    padding: 15px;
    background-color: #76323F;
    border: solid 2px black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.form_row {
    display: table-row;
}

.form_row label {
    display: table-cell;
    padding: 2px;
    text-align:right;
}

.form_row input {
    display: table-cell;
    padding-right: auto;
    padding-left: auto;
}
/* IMAGES */

#feup_logo {
    display: block;
    max-width:400px;
    max-height:200px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: #565656;
}

#profile_image {
    display: block;
    float:left;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

/* PROFILE SEARCH */

table{
    display: table;
    color:#D7CEC7;
    border: solid black 2px;
    border-radius: 5px;
    background-color: #76323F;
    border-collapse: separate;
    -moz-border-radius:6px;
}

td{
    color:#D7CEC7;
    text-align: left;
    background-color: #76323F;
}
th {
    color:#D7CEC7;
    text-align: center;
    background-color: #76323F;
    border-top: none;
    padding-right: 10px;
    padding-bottom: 5px;
}
.profile_th {
    text-align: right;
}

tr{
    color:#D7CEC7;
    text-align: left;
    background-color: #76323F;
    border: 1px solid black;
}

/* ToDoLists */

.todoLists {

}

/* Profile */

.profile_info {
    color: #D7CEC7;
    display: block;
    text-align: left;
    padding: 15px;
    background-color: #76323F;
    border: solid 2px black;
    border-radius: 5px;
    margin-left:280px;
    margin-right:150px;
}

.profile_settings_button {
    display: block;
    float:right;
    margin-top: 1px;
    margin-right: 35px;
    color: #D7CEC7;
}

.profile_settings_button a{
    color: #D7CEC7;
    background-color: #76323F;
    border: solid 2px black;
    border-radius: 5px;
}

.profile_settings_button a {
    display: block;
    text-decoration: none;
    font-family:Arial;
    text-align: left;
    list-style-type: none;
    padding: .2em 1em;
    margin-right:-30px;
    color: #D7CEC7;
    font-weight: bold;
}

.profile_settings_button a:visited  {
    color:#D7CEC7;
}

.profile_settings_button a:hover  {
    color:#D7CEC7;
    background-color: #565656;
    border-radius: 5px;
    font-weight: bold;
}

/* HEADINGS SECTION */

h1 {
    font-size: 250%;
    color:#e5e4d7;
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.register_success {
    color: #76323F;
    text-align: center;
    font-weight: bold;
}

homee {
    font-size: 135%;
    color:#000000;
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

mainTitle {
    font-size: 175%;
    color:#000000;
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 150%;
    color:#e5e4d7;
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 200%;
    color:#302f2f;
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.listTitle {
    color: #565656;
    font-weight: bold;

}

.lists{
    display:block;
    margin-left: auto;
    margin-right: auto;
}